/*h1 responsivo*/
h1 {
    font-size: clamp (1.75em, 1em + 3vw, 2.5em);
}
/*h2 responsivo*/
h2 {
    font-size: clamp (1.75em, 1em + 3vw, 2.5em);
}
/*paragrafo responsivo*/
p {
    font-size: clamp (1.75em, 1em + 3vw, 2.5em);  
}

/*classes responsivas*/
@media only screen and (max-device-width: 900px) {
    .header {width:100%;}
    .perfil {width:100%;}
    .servico {width:100%;}
    .portfolio {width:100%;}
    .carrossel {width:100%;}
    .contato {width:100%;}
    .footer {width:100%;}
}

